{% extends "gr_base.html" %}

{% block header_title_lead %}Glassroom helps fill in the gaps{% endblock %}

{% block content %}

<blockquote>{% trans %}So I thank my wife for making this possible, and my children for making it necessary." Victor Borge') {% endtrans %}</blockquote>  


{% trans %}Glassroom was concieved in the marriage of an english teacher and computer geek.  After experiencing first hand the problems associated with teaching in public education Gale Langley wanted to throw her training and skills toward being a teachers aid for a school.  After Gale left teaching we have thought and planned for ideas concerning this site.   There have been 3 huge pushes (quite literally) that have re-invigorated my drive toward improving education and a solution for people to gain concept mastery throughout their lifetime.{% endtrans %}<br>
<br>

Contact me: <br>
my gmail address<br>
getting back 2 basics
<br>
without any of the spaces
{%endblock%}
