{% extends "redu_base.html" %}
{% block header_title_lead %}RouteEdu helps fill in the gaps{% endblock %}
{% block navitems %}
<li>
  <form  id="goal-search" action="{{ uri_for("search") }}" method="post" class="navbar-search pull-right">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    {# This is the original example from twitter bootstrap docs
    <input type="text" class="search-query" placeholder="Search">
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    #}

    {# """
    form.goal_search - the form part is based on "def form(self)" not "forms.REDU_blah"
    """#}

   {{ macros.field( form.goal_search, label='',
    placeholder=_('Goal Search'), class='input-xlarge focused
    search-query', type='search') }}

  </form>
</li><li class="divider-vertical"></li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span9">
    <div class="container">
      <div class="row clearfix">
	<div class="col-md-6 column">
	  <div class="jumbotron">
	    <p>
	      <span>What is RouteEdu?</span>
	    </p>
	    <p>
	      It's your path through education leading you to your educational goals. You don't have to do it alone. You can ask for help from advisers, friends and coaches.
	    </p>
	    
	    <p>
	      For Teachers: It's the opportunity to put string single concepts together to create courses. From day one you could be running A/B tests to find out what curriculum works better and an opportunity to show the world the difference you make.
	    </p>
	    
	    <p>
	      <a class="btn btn-primary btn-large" href="#">Learn more</a>
	    </p>
	  </div>
	</div>
	<div class="col-md-6 column">
	</div>
      </div>
    </div>



  </div>
  <div class="span3 auth-at-home">
    <form id="form_login_user" action="{{ uri_for("login") }}" method="post">
      <fieldset class="well">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<div class="control-group">
	  <label class="controls">
	    <input class="focused required" name="username" id="l_username" type="text" placeholder="{% trans %}Username or Email{% endtrans %}">
	  </label>
	</div>
	<div class="control-group">
	  <div class="controls row-fluid">
	    <label class="span8">
	      <input class="focused required" name="password" id="l_password" type="password" placeholder="{% trans %}Password{% endtrans %}">
	    </label>
	    <label class="span4">
	      <button type="submit" class="btn btn-primary btn-login">
		{% trans %}Login{% endtrans %}
	    </button> </label>
	  </div>
	</div>
	<div>
	  <label class="checkbox">
	    <input type="checkbox" name="remember_me" id="remember_me" value="on">
	    {% trans %}Remember me?{% endtrans %} <span class="separator"></span> <a href="{{ uri_for("password-reset") }}">{% trans %}Forgot your password?{% endtrans %}</a> </label>
	</div>
	{{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}
      </fieldset>
    </form>

    <h3>{% trans %}Sign Up{% endtrans %}</h3>
    <form id="form_register" action="{{ uri_for("register") }}" method="post">
      <fieldset class="well">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<div class="control-group">
	  <label class="controls">
	    <input class="focused required" name="username" id="username" type="text" placeholder="{% trans %}Username{% endtrans %}">
	  </label>
	</div>
	<div class="control-group">
	  <label class="controls">
	    <input class="focused required email" name="email" id="email" type="email" placeholder="{% trans %}Email{% endtrans %}">
	    <input type="hidden" name="country" value="">
	  </label>
	</div>
	<div class="control-group">
	  <label class="controls">
	    <input class="focused required" name="password" id="password" type="password" placeholder="{% trans %}Password{% endtrans %}">
	  </label>
	</div>
	<div class="control-group">
	  <label class="controls">
	    <input class="focused required" name="c_password" id="c_password" type="password" placeholder="{% trans %}Confirm Password{% endtrans %}">
	  </label>
	</div>
	<div class="control-group">
	  <button type="submit" class="btn btn-primary">
	    {% trans %}Sign Up{% endtrans %}
	  </button>
	</div>
      </fieldset>
    </form>
  </div>
</div><!-- /row -->

{% endblock %}


{% block somethingelse %}

{% if user_id %}
<div class="hero-unit home_bp">
  <p>
    <div align="center">
{#      <form  id="goal-search-main" action="{{ uri_for("search") }}" method="post" class="well form-horizontal">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	
	<fieldset>
	  {{ macros.field( forms.goal_search, label='', placeholder=_('Goal Search'), class='input-xlarge focused search-query', type='search') }}
	  {#{{ macros.field(form.url, label=_("New Video"), placeholder=_("Enter a URL"), class="input-xlarge focused required URL", type="URL") }}#}

	  <div class="form-actions">
	    <button type="submit" class="btn btn-primary">
	      {% trans %}Submit the Video{% endtrans %}
	    </button>
	  </div>
	</fieldset>
      </form>
#}
      {% trans %}Find a video that explains a concept?{% endtrans %}
      <br>
      <a href="/about/" target="_blank"> {% trans %}Learn what this is all about{% endtrans %}</a> {% trans %}or just{% endtrans %} <a href="/entervideo/" target="_blank">{% trans %}enter a video{% endtrans %}</a>
      {% trans %}so others can learn this.{% endtrans %}
    </div>
  </p>
</div>
{% else %}

<div class="row">
  <div class="span9">
    <div class="container">
      <div class="row clearfix">
	<div class="col-md-6 column">
	  <div class="jumbotron">
	    <p>
	      <span>What is RouteEdu?</span>
	    </p>
	    <p>
	      It's your path through education leading you to your educational goals. You don't have to do it alone. You can ask for help from advisers, friends and coaches.
	    </p>
	    
	    <p>
	      For Teachers: It's the opportunity to put string single concepts together to create courses. From day one you could be running A/B tests to find out what curriculum works better and an opportunity to show the world the difference you make.
	    </p>
	    
	    <p>
	      <a class="btn btn-primary btn-large" href="#">Learn more</a>
	    </p>
	  </div>
	</div>
	<div class="col-md-6 column">
	</div>
      </div>
    </div>



  </div>
  <div class="span3 auth-at-home">
    <form id="form_login_user" action="{{ uri_for("login") }}" method="post">
      <fieldset class="well">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<div class="control-group">
	  <label class="controls">
	    <input class="focused required" name="username" id="l_username" type="text" placeholder="{% trans %}Username or Email{% endtrans %}">
	  </label>
	</div>
	<div class="control-group">
	  <div class="controls row-fluid">
	    <label class="span8">
	      <input class="focused required" name="password" id="l_password" type="password" placeholder="{% trans %}Password{% endtrans %}">
	    </label>
	    <label class="span4">
	      <button type="submit" class="btn btn-primary btn-login">
		{% trans %}Login{% endtrans %}
	    </button> </label>
	  </div>
	</div>
	<div>
	  <label class="checkbox">
	    <input type="checkbox" name="remember_me" id="remember_me" value="on">
	    {% trans %}Remember me?{% endtrans %} <span class="separator"></span> <a href="{{ uri_for("password-reset") }}">{% trans %}Forgot your password?{% endtrans %}</a> </label>
	</div>
	{{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}
      </fieldset>
    </form>

    <h3>{% trans %}Sign Up{% endtrans %}</h3>
    <form id="form_register" action="{{ uri_for("register") }}" method="post">
      <fieldset class="well">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	<div class="control-group">
	  <label class="controls">
	    <input class="focused required" name="username" id="username" type="text" placeholder="{% trans %}Username{% endtrans %}">
	  </label>
	</div>
	<div class="control-group">
	  <label class="controls">
	    <input class="focused required email" name="email" id="email" type="email" placeholder="{% trans %}Email{% endtrans %}">
	    <input type="hidden" name="country" value="">
	  </label>
	</div>
	<div class="control-group">
	  <label class="controls">
	    <input class="focused required" name="password" id="password" type="password" placeholder="{% trans %}Password{% endtrans %}">
	  </label>
	</div>
	<div class="control-group">
	  <label class="controls">
	    <input class="focused required" name="c_password" id="c_password" type="password" placeholder="{% trans %}Confirm Password{% endtrans %}">
	  </label>
	</div>
	<div class="control-group">
	  <button type="submit" class="btn btn-primary">
	    {% trans %}Sign Up{% endtrans %}
	  </button>
	</div>
      </fieldset>
    </form>
  </div>
</div><!-- /row -->

{% endif %}

{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
  $().ready(function() {
  $("#form_login_user").validate({
  submitHandler : function(form) {
  form.submit();
  },
  errorPlacement : function(error, element) {
  element.parent().parent().addClass("error");
  error.addClass("help-inline").appendTo(element.parent());
  }
  });

  $("#form_register").validate({
  submitHandler : function(form) {
  form.submit();
  },
  rules : {
  password : 'required',
  c_password : {
  required : true,
  equalTo : '#password'
  }
  },
  errorPlacement : function(error, element) {
  element.parent().parent().addClass("error");
  error.addClass("help-inline").appendTo(element.parent());
  }
  });

  $("#password").passStrength({
  shortPassText : '{% trans %}Short Password{% endtrans %}',
  badPassText : '{% trans %}Insecure Password{% endtrans %}',
  goodPassText : '{% trans %}Good Password{% endtrans %}',
  strongPassText : '{% trans %}Secure Password{% endtrans %}'
  });
  }); 
</script>
{% endblock %}

